.contact {
  padding: 2rem 15rem;
}

.contact h2 {
  font-size: 3rem;
  color: var(--soft-blue);
}

.container {
  display: flex;
  gap: 2rem;
}

.contactForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1.5;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.inputContainer label {
  font-size: 1.2rem;
  color: #20486b;
}

.inputContainer input,
.inputContainer textarea {
  padding: 0.5rem 1.2rem;
  font-size: 1.05rem;
  border: 1px solid #5c88af;
  border-radius: 5px;
  outline: none;
}

.inputContainer input:focus,
.inputContainer textarea:focus {
  outline: 2px solid #5c88afaa;
}

.inputContainer textarea {
  resize: vertical;
  max-height: 500px;
}

.socials {
  flex: 1;
}

.btn {
  border: none;
  transition: transform 0.2s;
  margin-top: 1rem;
}
.btn:hover {
  transform: scale(1.02);
}

.error {
  color: #a60000;
}

.inputError::placeholder {
  color: #a60000;
}
