.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 1rem 15rem;
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: all 0.2s;
}

.navbar.active {
  background-color: var(--soft-blue);
  color: #fff;
}

.title {
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.2s;
}
.title:hover {
  color: var(--light-peach);
}

.list {
  display: flex;
  gap: 1rem;
}
.res__list {
  display: none;
}

.list__item {
  list-style: none;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.2s;
  font-size: 1.2rem;
}

.list__item:hover {
  color: var(--light-peach);
}

.icon svg {
  cursor: pointer;
  font-size: 1.3rem;
  transition: color 0.2s;
}
.icon svg:hover {
  color: var(--light-peach);
}

@media (max-width: 1200px) {
  .navbar {
    padding: 1rem 4rem;
  }
}

@media (max-width: 800px) {
  .navbar {
    padding: 1rem 2rem;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 1.7rem;
  }

  .list__item {
    font-size: 1.1rem;
  }
}

@media (max-width: 530px) {
  .navbar {
    z-index: 10;
  }

  .res__list,
  .res__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .res__menu {
    position: absolute;
    background-color: var(--soft-blue);
    width: 70%;
    height: 100vh;
    top: 0;
    right: -72%;
    z-index: -2;
    padding: 1rem;
    transition: all 0.5s;
    padding-right: 2.2rem;
  }

  .list__item {
    margin-bottom: 1rem;
  }

  .list {
    display: none;
  }
}
