@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700;900&family=Oswald:wght@300;400;700&display=swap');

:root {
  /* Colors */
  --soft-blue: #89cff0;
  --beige: #f5f5dc;
  --gray: #d3d3d3;
  --aqua-green: #7fffd4;

  /* Fonts */
  --secondary-font: 'Kanit', sans-serif;
  --titles-font: 'Oswald', sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--titles-font);
}
