.footer {
  background-color: var(--soft-blue);
  color: #fff;
  padding: 1rem 15rem;
}

.footer p {
  font-size: 0.9rem;
  text-align: center;
}

@media (max-width: 1200px) {
  .footer {
    padding: 1rem 4rem;
  }
}

@media (max-width: 900px) {
  .footer {
    padding: 1rem 2rem;
  }
  .footer p {
    font-size: 0.75rem;
  }
}

@media (max-width: 310px) {
  .footer {
    padding: 1rem;
  }
}
