.banner {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 10rem;
  background: linear-gradient(
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.96)
    ),
    url('/banner/interior-painting.webp') no-repeat center;
  background-size: cover;
}

.text__container {
  flex: 1;
  color: var(--soft-blue);
}

.img__container {
  flex: 1;
  display: flex;
  justify-content: center;
}

@keyframes palette {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.image {
  width: 90%;
  animation: palette 5s ease-in-out infinite;
}

.text__container h1 {
  font-size: 4rem;
  font-weight: 900;
}

.text__container p {
  font-size: 1.2rem;
  color: #454545;
}

.contact__btn {
  background-color: var(--mustard-yellow);
  padding: 0.5rem 1.3rem;
  display: block;
  margin-top: 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  color: #454545;
  font-weight: 900;
  transition: all 0.2s;
}
.contact__btn:hover {
  background-color: var(--yellow);
  transform: scale(1.05);
  color: #000;
}
